nav {
    padding: 0 !important;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 700;
    margin-left: 1em;
}

.nav-link {
    color: white !important;
    font-weight: 700 !important;
}

.nav-link:hover {
    color: #adb5bd !important;
}

.navbar-nav >button {
    padding:  0 .5em !important;
    font-weight: 700 !important;
    margin-left: 0.5em;
    margin-right: 1em;
}

