body,html {
    /*background-image: url('notebook-natural-laptop-macbook.jpg');*/
    background-color: red !important;/*rgba(0, 0, 0, 0.4);*/
}

.card {
    margin: auto auto;
    padding: 0 5px;
    width: 100%;
    max-width: 330px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(53, 47, 47);
}
.card-title {
    margin-top: 1em;
    font-size: 2em;
}

.card-title, #link {
    text-align: center;
}

input {
    border-radius: 50px;
    border: 1px solid grey;
}

.btn-registro {
    background-color: #27e660 !important;
    border: 1px solid #27e660;
    padding: 10px !important;
}